.input {
  height: 75px;
  border-radius: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 3px;
  font-size: 30px;
  background-color: #0a0a23af;
  color: white;
  margin: 15px;
  margin-bottom: 20px;
  padding-right: 30px;
  box-shadow: 6px 6px 0px 0px rgba(73, 73, 73, 0.514);
}
